body {
    font-family: Arial;
}

p {
    display: none;
    font-size: 13.3333px;
}

output {
    font-size: 13.3333px;
}

.title {
	text-align: center;
}

.tag-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 3%;
}

.image-container {
	width: 80%;
	margin: 0 auto;
}

.tag-container h3,
.image-container h3 {
	text-align: center;
}

button:enabled, label {
	cursor: pointer;
}

button, label {
	padding: 15px 15px;
	margin: 3px;
	display: inline-block;
	min-width: 100px;
   
    border: 1px solid;
    border-radius: 5px;
    background-color: #f2f2f2;
    border-color: #808080;
    color: #808080;
	font-weight: bold;
}

label {
	font-size: 13.3333px;
}

.save {
    display: inline-block;
}

.tag {
	width: 220px;
}

.tag-default {
	background-color: #f2f9eb;
    color: #319449;
    border-color: #319449;
}

.tag-selected {
	background-color: #319449;
    color: #f2f9eb;
    border-color: #319449;
}

img {
	height: 300px;
	margin: 3px;
}

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file]:focus + label {
    outline: 5px auto -webkit-focus-ring-color;
}
